*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #F5F5F5;
}

.listed-items{
    height: 25px;
    width: 100%;
    background-color: orangered;
    display: flex;
    justify-content:space-evenly;
    overflow: hidden;
    color: white;

}
 .listed-items li{
    list-style-type: none;
}

.listed-items i{
    display: none;
}

.listed-items li:hover {
    color: rgba(231, 217, 217, 0.707);
}

.listed-items i:hover{
    color: rgba(231, 217, 217, 0.707);
}
#li-last{
    background-color: rgba(0, 0, 0, 0.429);
    padding: 2px;
    border-radius: 10%;
}
.nav{
    height: 66px;
    width: calc(100% - 10px);
    background-color: orangered;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    color: white;

}
.daraz-logo{
    height: 48px;
    width: 120px;
    overflow: hidden;
    
}

.daraz-logo img{
    height: auto;
    width: 100%;
}

.search-box{
    height: 38px;
    width: 40em;
    border-radius: 10px;
    border: none;
    outline: none;
    border-left: 10px solid white;
    background-color: white;

}
.search-box:hover{
    border-left: 10px solid white;
}

.boxes{
    height: 40px;
    width: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.dropdown-menu{
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    display: none;
    margin-left: 10px;
}

.dropdown-menu:hover{
    color: rgba(255, 255, 255, 0.792)
}

#select-opts{
    background-color: orangered;
    color: white;
    border: none;
    outline: none;
    padding: 3px;
    border-radius: 8px;
}

.cart i{
    font-size: 30px;
}

.banner-section {
    background-color:rgba(255, 255, 255, 0.886);
    height: 370px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.banner-menubox{
    height: 344px;
    width: 238px;
    border: black;
    background-color: rgb(238, 238, 229);
    margin-left: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-menubox ul li{
      list-style: none;
      margin-top: 7px;

}

.banner-menubox ul li:hover{
    color: orange;
}

.banner-slider{
    height: 344px;
    width: 75vw;
    background-image: url(IMAGES/image1.jpg);
    background-size: cover;
    margin-right: 10px;
    border-radius: 10px;
    animation: slider 20s infinite;  
}

@keyframes slider{
    0%{background-image: url(IMAGES/image2.jpg);}
    35%{background-image: url(IMAGES/image3.jpg);}
    75%{background-image: url(IMAGES/image4.jpg);}
}


.next-section{
     background-color: #f4f5f3;
     height: 100vh;
     width: auto;
}

.flash-sale{
    height: 375px;
    width: 100%;
    background-color: #eeefec;
}

.flash-sale h3{
    font-size: 22px;
    position: relative;
    top: 3px;
}

.flash-sale-box{
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;

}

.flash-sale-box a{
    color: orange;
    list-style: none;
    text-decoration: none;
    position: relative;
    right: 12%;
}
.shope-more button{
    color: orange;
    border: 2px solid orange;
    height: 45px;
    width: 125px;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: center;
}
.shope-more button:hover{
    background-color: #19a3ca;
}

.flash-sale-box time{
    color: orange;
    position: relative;
    right: 14%;
}

.item-box{
    height: 322px;
    width: 100%;
    background-color: orange;
    position: relative;
    top: 11px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item-box-p{
    height: 285px;
    width: 21%;
    background-color: white;
    overflow: hidden;
    position: relative;
    top: 9px;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.item1{

    background-image: url("IMAGES/item1.webp");
    background-size: cover;

}

.item2{
    background-image: url("IMAGES/item2.jpg");
    background-size: cover;
}

.item3{
    background-image: url("IMAGES/item3.png");
    background-size: cover;
}

.item4{
    background-image: url("IMAGES/item4.webp");
    background-size: cover;
}

.inside-item-box-p{
    height: 20px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
    top: 126px;
    background-color: rgba(255, 234, 0, 0.726);
    border-radius: 10px;
}



.inside-item-box-p span{
    color: orange;
}

.inside-item-box-p a{
    text-decoration: none;
  
}

.item1 p {
    color:orange;

}

.load-more{
    height: 69px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.678);
}



@media (max-width:800px){
    .listed-items li{
        display: none;
    }
    
    .listed-items i{
        display: block;
        padding-right: 10px;
        padding-top: 4px;
    }
    
    .listed-items{
        justify-content: end;
    }
    
    .search-box{
        padding-left: 10px;
        padding-right: 10px;
    }
    .boxes , .boundary{
        display: none;
    }

    .dropdown-menu{
        display: inline;
        
    }

    .banner-menubox{
        display: none;
    }
     
    }

